network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: no
      addresses: 
        -  {{ ip_address }}
      routes:
        - to: default
          via: {{ gateway }}
      nameservers:
        addresses: 
          {%- for nameserver in nameservers  %}
          - {{ nameserver }}
          {%- endfor %}
        search: 
          - {{ search }}
