network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: no
      addresses: 
        -  {{ networkconfig.ip_address }}
      routes:
        - to: default
          via: {{ networkconfig.gateway }}
      nameservers:
        addresses: 
          {%- for nameserver in networkconfig.nameservers  %}
          - {{ nameserver }}
          {%- endfor %}
        search: 
          - {{ networkconfig.search }}